
<div>
  <h1>Adulting</h1>
  <p>Assistance for your inner child</p>
</div>

<div>

  <% if session[:user_id] == nil %>
    <%= link_to "Log in for Adulting assistance", "/auth/github" %></li>
    <% else %>
    <%= link_to "Logout", session_delete_path(session[:user_id]), method: :delete, data: {confirm: "End your session?"} %>
  <% end %>

</div>
