<div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Adulting</li>
        <li><%= link_to "Home", index_path %></li>
        <li><%= link_to "Add New Task", new_path %></li>
        <li><%= link_to "Logout", session_delete_path(session[:user_id]), method: :delete, data: {confirm:"Are you sure you want to Logout?"} %></li>
      </ul>
    </div>
</div>
