// Place all the styles related to the Navigations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing-background{
  background-image: url("http://i.huffpost.com/gen/1890083/images/o-PRODUCTIVE-facebook.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
}


.box {
  width: 30%;
  text-align: center;
  color: #FBF8F8;
  display: inline;
}
