// Place all the styles related to the Navigations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("http://i.huffpost.com/gen/1890083/images/o-PRODUCTIVE-facebook.jpg");
  background-size: 125%;
  background-repeat: no-repeat;
}

header {
  margin-top: 20%;
  color: #FBF8F8;
}

.box {
  border: solid 1px #FBF8F8;
  width: 30%;

}
